<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/style.css') }}">
</head>
<body>
<h1>{{ text }}</h1>
<p>{{ text }}</p>
<div id="wrapper">
    <div id="game">

    </div>
    <div id="chat">
        <form>
            <div id="subscribe">
            </div>
            <div id="chat_info">
                <p></p>
            </div>
            <div id="message_div">
                <label>Сообщение <textarea id="message" name="message" cols="40" rows="2"></textarea></label>
                <input id="submit" type="button" value="Отправить">
            </div>
        </form>
    </div>
</div>


<script
        src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>
<script src="{{ app.router.static.url(filename='js/main.js') }}"></script>
</body>
</html>