<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ app.router.static.url(filename='css/style.css') }}">
</head>
<body>
<h1>{{text}}</h1>
<p>{{text}}</p>
<div id="wrapper">
    <form>
        <div id="subscribe"></div>
        <textarea id="message" name="message" cols="40" rows="3"></textarea>
        <input id="submit" type="button" value="Отправить">
    </form>
</div>

<script
        src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js.map"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js.map"></script>-->
<script src="{{ app.router.static.url(filename='js/main.js') }}"></script>
</body>
</html>